/* make the customizations */
/* $theme-colors: (
  "primary": tomato,
); */
.link-hover-danger {
  transition: all 0.2s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  &:hover {
    color: $red-primary !important;
  }
}
.btn {
  --bs-btn-font-size: 1rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.text-price {
  font-size: 18px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-expand {
  flex-direction: column;

  .navbar-nav {
    flex-direction: column;
  }
}
.modal-style {
  min-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid $gray;
}
.modal-role {
  min-width: 400px;
}
.page-link.active,
.active > .page-link {
  z-index: 0;
  background-color: $red-primary;
  border-color: $red-primary;
}

input.search-keyword.form-control:focus {
  border-color: $red-primary;
  box-shadow: 0 0 0 0.25rem $red-subtle;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  border-color: darkcyan;
}
ul.nav-menu li {
  position: relative;

  &:hover > a {
    color: $red-primary !important;
  }

  & > ul {
    min-width: 306px;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
  }

  &:hover > ul {
    display: block;
  }
}
.rc-slider-track,
.rc-slider-tracks {
  background-color: $red-primary;
}

.rc-slider-handle {
  border: solid 2px $red-primary;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: $red-primary;
  box-shadow: 0 0 0 5px rgb(223, 161, 166);
}

.col-title-product {
  max-width: 300px;
  @include line-clamp(3);
}

.col-category-product {
  max-width: 150px;
  @include line-clamp(2);
}

.css-1nmdiq5-menu {
  z-index: 99 !important;
}

.color-input {
  & + .color-label {
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 0.375rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.175);
  }

  & + .color-label::before {
    content: "✓";
    display: none;
    color: white;
    font-size: 8px;
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 10px;
    height: 11px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &:checked + .color-label::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 53, 69);
  }

  & + .color-label::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
  }

  &:checked + .color-label::after {
    border: 1px solid $red-primary;
  }
}

.tag-input {
  & + .tag-label {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 1px 12px;
    transition: all 0.2s;
    @include custom-flex(space-between, center);
    height: 100%;

    &:hover {
      color: $red-primary;
      border: 1px solid $red-primary;
    }
  }

  &:checked + .tag-label {
    border: 1px solid $red-primary;
    color: $red-primary;
  }
}

.btn-reset-queries {
  width: 90%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.175);
  padding: 8px 12px;
  transition: all 0.2s;
  margin-top: 30px;
  background-color: transparent;

  &:hover {
    color: $red-primary;
    border: 1px solid $red-primary;
  }
}

.gallery-image {
  border: 2px solid rgba(0, 0, 0, 0.175);
  padding: 3px;
  cursor: pointer;
  min-height: 110px;
  background: url("/image/no-image.png") no-repeat center;
  background-size: contain;

  &.active {
    border: 2px solid $red-primary;
  }
}

.no-image {
  background: url("/image/no-image.png") no-repeat center;
  background-size: contain;

  &.order {
    width: 60px;
    height: 60px;
  }
}

.side-bar-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 11px 16px;
  font-size: 20px;
  border-radius: 11px;
  margin-bottom: 14px;

  &.active {
    color: $red-primary;
    background: $red-subtle;
  }

  &:hover {
    color: $red-primary;
    background: $red-subtle;
  }
}

.order-address {
  overflow-x: auto;
  max-width: 272px;
  white-space: nowrap;
}

.list-address {
  width: 100%;
  position: absolute;
  top: calc(100% + 7px);
  background: white;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  max-width: 100%;
  max-height: 180px;
  overflow-y: auto;
  ul {
    list-style: none;
    margin: 0;
    padding-inline: 7px;
    li {
      padding: 7px 10px;
      cursor: pointer;
    }
  }
}

.search-group {
  position: relative;
  width: 100%;
  .search-keyword {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-suggest {
    position: absolute;
    width: 100%;
    z-index: 998;

    .list-group-item {
      display: flex;

      .suggest-title {
        @include line-clamp(2);
      }
    }
  }
}

li.page-item {
  &.active a.page-link {
    color: #fff !important;
  }

  &:not(:active) a.page-link {
    color: #000;
  }
}

.page-link {
  color: #000;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: $red-primary;
  border: 1px solid #b2b2b2;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.carousel-indicators button:not(.active) {
  background-color: #ffffff !important;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.link-custom {
  cursor: pointer;
  border-inline: 1px solid rgba(0, 0, 0, 0.175);
  padding: 10px;
  transition: all 0.2s;
  text-decoration: none;
  color: #000000;

  &.border {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.175);

    &:hover {
      border: 1px solid $red-primary !important;
    }
  }
  &:hover {
    color: $red-primary;
    border-inline: 1px solid $red-primary;
  }
}

.rfm-marquee-container {
  padding-inline: 42px;
  padding-block: 14px;
}

.carousel-product,
.carousel-blog {
  padding-inline: 30px;
  a.carousel-control-prev,
  a.carousel-control-next {
    width: auto;
    top: 40%;
    bottom: inherit;
    border-radius: 100rem;
    background: white;
    padding: 6px;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 53%);
    opacity: 1;
    z-index: 2;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 50%;
    border-radius: 100rem;
  }
}

.topic {
  &__option {
    input {
      display: none;

      & + label {
        font-size: 17px;
        transition: all 0.2s;
        cursor: pointer;
        margin-bottom: 6px;
        font-weight: 600;
      }

      &:hover + label {
        color: rgb(220 53 69);
      }

      &:checked + label {
        color: rgb(220 53 69);
      }
    }
  }
}

.blog__card {
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    border: 1px solid #b2b2b2;
  }

  &--title {
    padding: 10px;
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: #000000;
      font-size: 15px;
      font-weight: 600;
      transition: all 0.2s;

      &:hover {
        color: rgb(220 53 69);
      }
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgb(0 0 0 / 49%);
  z-index: 997;
}
