/* make the customizations */
/* $theme-colors: (
  "primary": tomato,
); */

.btn {
  --bs-btn-font-size: 1rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.text-price {
  font-size: 18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-expand {
  flex-direction: column;

  .navbar-nav {
    flex-direction: column;
  }
}

.modal-style {
  min-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}
.modal-role {
  min-width: 400px;
}

.page-link.active,
.active > .page-link {
  z-index: 0;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  border-color: darkcyan;
}

ul.nav-menu li {
  position: relative;

  &:hover > a {
    color: rgb(220 53 69) !important;
  }

  & > ul {
    min-width: 306px;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
  }

  &:hover > ul {
    display: block;
  }
}
.rc-slider-track,
.rc-slider-tracks {
  background-color: rgb(220 53 69);
}

.rc-slider-handle {
  border: solid 2px rgb(220 53 69);
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: rgb(220 53 69);
  box-shadow: 0 0 0 5px rgb(223, 161, 166);
}

.col-title-product {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
