.product-container {
  .product {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.175);
    &__header {
      @include custom-flex(space-between, center);
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    &__label {
      background: #d4f6ff;
      padding: 3px 7px;
      font-size: 12px;
      border-radius: 10px;
      font-weight: 700;
      position: relative;
      top: 2px;
      left: 6px;
      color: #608bc1;
    }

    &__discount {
      background: #fcf596;
      padding: 3px 7px;
      font-size: 15px;
      font-weight: 700;
    }

    &__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: #1a1a19;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.2s;
      flex: 1;

      &:hover {
        color: $red-primary;
      }
    }
    &__price {
      font-size: 13px;
      color: #758694;
      text-decoration: line-through;
      font-weight: 500;
    }
    &__discounted-price {
      color: $red-primary;
      font-size: 19px;
      font-weight: 700;
    }

    &__details {
      @include custom-flex(space-between, baseline);
      flex-wrap: wrap;
    }
    &__ratings {
      @include custom-flex(space-between, center);
    }
    &__ratings-stars {
      @include custom-flex(space-between, center);
    }

    &__quantity {
      font-size: 13px;
      color: #758694;
      font-weight: 500;
    }

    &__image-container {
      cursor: pointer;
      position: relative;
      min-height: 223px;
      background: url("/image/no-image.png") no-repeat center;
      background-size: contain;

      .product__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.37);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
        @include custom-flex(center, center);
      }
      &:hover .product__overlay {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }
  }
  &.grid {
    display: grid;
    gap: 0.5rem;

    .product {
      &__pricing {
        @include custom-flex(space-between, center);
        flex-wrap: wrap;
      }
      &__content {
        padding: 8px 11px;
        height: 125px;
        display: flex;
        flex-direction: column;
      }
      &__title {
        max-width: 200px;
        margin-bottom: 10px;
      }
    }
  }

  &.list {
    .product {
      display: flex;
      margin-bottom: 0.5rem;

      &__image-container {
        width: auto;
      }
      &__content {
        padding: 8px 11px;
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      &__title {
        max-width: 90%;
        margin-bottom: 10px;
      }
      &__pricing {
        flex-wrap: wrap;
      }
    }
  }
}

.variant-input {
  & + .variant-label {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 7px 12px;
    transition: all 0.2s;

    &:hover {
      color: $red-primary;
      border: 1px solid $red-primary;
    }
  }

  &:checked + .variant-label {
    border: 1px solid $red-primary;
    color: $red-primary;
  }
}

.product-detail {
  &__price {
    font-size: 17px;
    color: #608bc1;
    text-decoration: line-through;
    margin-right: 7px;
  }
  &__discount {
  }
  &__discounted-price {
    font-size: 28px;
    margin-bottom: 10px;
    color: $red-primary;
  }
}
